<?php


define("FILEROOT", "/var/www/files/htdocs"); //hier den standartpfad eingeben 
define("FILEPOOL", "all/"); //muss chmod 777 haben
define("USERFILES", "users/"); //muss chmod 777 haben

define("HTTPROOT", "http://files.mydomain.com/"); //hier bitte die normale httpadresse eingeben
define("RESULTS_PER_PAGE", 20); //wieviele Eintraege sollen pro seite angezeigt werden

define("MAX_NAME_LENGTH", 15); //maximale filename laenge

define("DB_SERVER", "localhost");//datenbankserver
define("DB_USER", "mydb");//username fuer die datenbank
define("DB_PWD", "mypwd");//passwort fyer die datenbank
define("DB_NAME", "files");//datebnbankname

?>
